*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 18px;
}

/* Header Bar */
header{
  background-color: black;
  width: 100%;
}
#logo img{
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
  margin-left: 5rem;
}

#logo{
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
  font-family: Helvetica;
  font-size: 1rem;
  color: white;
  display: flex;
  align-items: center;
  width: 960px;
}

/* Banner */
#banner{
  height: 25rem;
  background-image: url("../images/banner.jpeg");
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%
}

#title{
  font-family: Helvetica;
  font-weight: bold;
  width: 20rem;
  color: white;
  background-color: black;
  padding-left: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  top: 9rem;
  left: 5rem;
}

#title h3{
  font-size: 1rem;
  padding-bottom: 0.25rem;
}

#title h1{
  font-size: 2rem;
}
